.dark-grey {
	background: #2E2A33;
}

.mid-grey {
	background: #544F5E;
}

.text-light {
	color: #FCF7FF;
}

.accent-blue {
	background: #62cbcc;
}

.accent-magenta {
	background: #ef3a8d;
}

#asteroids {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 10;
}

body, svg {
	background: #2E2A33;
}

.body-weight {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
}

.subtitle-weight {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

.title-weight {
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}

.scroll-nice::-webkit-scrollbar {
	width: 7px;
}

.scroll-nice::-webkit-scrollbar-track {
	background: #FAFAFA;
}
 
.scroll-nice::-webkit-scrollbar-thumb {
	background: #616161; 
}

.nav-wrapper {
	transition: background-color .45s ease !important;
}

nav {
	transition: -webkit-box-shadow .4s ease, box-shadow .4s ease;
	background-color: rgba(0,0,0,0) !important;
}

.nav-no-shadow {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.nav-text {
	transition: color .8s ease;	
}

.nav-dark-clear {
	background-color: rgba(46,42,51,0) !important;
}

.nav-dark {
	background-color: rgba(46,42,51,.4) !important;
}

.nav-dark:hover {
	background-color: rgba(46,42,51,1) !important;
}

.nav-light {
	background-color: rgba(244,244,244,.4) !important;
}

.nav-light:hover {
	background-color: rgba(244,244,244,1) !important;
}

.nav-text-dark {
	color: #2E2A33 !important;
}

.nav-text-light {
	color: #F5F5F5 !important;
}

#intro-left {
	position: absolute;
	left: 12vw;
	top: 45vh;
    transform: translate(0, -50%);
    max-width: 40vw;
	height: 40vh;
}

#intro-right {
	position: absolute;
	left: 55vw;
	top: 45vh;
	width: 30vw;
	height: 30vw;
	transform: translate(0, -50%);

	background: #544F5E;
}

.fsize-s {
	font-size: 1.5vw;
}

.fsize-m {
	font-size: 3vw;
	line-height: 3.1vw;
}

.fsize-l {
	font-size: 5vw;
	line-height: 4.5vw;
}

.fsize-h {
	font-size: 8vw;
	line-height: 7.5vw;
}